* {
    box-sizing: border-box;
}

.panel {
    background-color: azure;
    width: 300px;
    height: 250px;
    margin: 7px;
    padding: 20px;
    border-radius: 7px;
    border: 2px outset rgb(121, 115, 115);
    position: relative;
}

.panel-title {
    margin-top: 5px;
}

.task-nav {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: 2px outset #5DB7DE;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    width: 100px;
    height: 30;
}

.btn:hover {
    color: white;
}

.btn-danger {
    border-color: red;
    color: red;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.btn-danger:hover {
    background-color: red;
    color: white;
}