.AllTasksPage-grid {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.page-header {
    color: white;
    font-weight: 400;
    font-size: 28px;
}