.AllTasksPage-grid {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* grid-template-rows: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 20px; */
}

.page-header {
    color: white;
    font-weight: 400;
    font-size: 28px;
}