* {
    box-sizing: border-box;
}

.task-form {
    background-color: azure;
    width: 300px;
    height: 250px;
    margin: 7px;
    padding: 12px;
    border-radius: 7px;
    border: 2px outset rgb(121, 115, 115);
}

.form-group {
    margin: 10px 0;
    width: 100%;
}

.btn-create {
    border: 1px outset black;
    border-radius: 7px;
    background-color: white;
    color: rgb(91,201,213);
    height: 25px;
    width: 100%;
    padding: 2px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.btn-create:hover {
    background-color: rgb(91,201,213);
    color: white;
}

input {
    border: 1px outset black;
    border-radius: 7px;
    width: 100%;
    height: 30px;
    margin: 0;
    margin-top: 5px;
    padding: 0 5px;
}

label {
    font-size: 13px;
}

.panel-title {
    width: 240px;
    margin: 0;
    margin-top: 5px;
}